@model MovieForm

<div>
    <h1>Add Movies to the watchlist!</h1>
    <br /><br />
    <form method="post">
        <input type="hidden" asp-for="MovieId" />

        <label for="category">Category:</label><br>
        <input type="text" id="category" name="category"  asp-for="Category"><br><br>

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"  asp-for="Title"><br><br>

        <label for="year">Year:</label><br>
        <input type="number" id="year" name="year"  asp-for="Year"><br><br>

        <label for="director">Director:</label><br>
        <input type="text" id="director" name="director" asp-for="Director"><br><br>

        <select asp-for="RatingId">
            <option value ="">Select a Rating</option>
            @foreach (Rating r in ViewBag.Ratings)
            {
                <option value="@r.RatingId">@r.RatingName</option>
            }
        </select>
        <br /><br />

        <label for="edited">Edited:</label><br>
        <input type="radio" id="edited" name="edited" value="True" asp-for="Edited"> True<br>
        <input type="radio" id="edited" name="edited" value="False" > False<br><br>

        <label for="lentTo">Lent To:</label><br>
        <input type="text" id="lentTo" name="lentTo" asp-for="LentTo"><br><br>

        <label for="notes">Notes:</label><br>
        <textarea id="notes" name="notes" rows="2" cols="40" maxlength="25" asp-for="Notes"></textarea><br><br>

        <button type="submit">Submit Movie</button>

        <div asp-validation-summary="All"></div>
    </form>
</div>

