@{
    ViewData["Title"] = "Get to know Joel";
}
<h1>@ViewData["Title"]</h1>


<div>
    <a href="https://www.qwcomedy.com/ " target="_blank">Check out where I perform</a>
    <br />
    <a href="https://baconsale.com/ " target="_blank">My Podcast</a>
    <br /><br />    
    <h3>The PodRacers</h3>
    <a href="https://baconsale.com/ " target="_blank"><img src="~/img/baconsalekate.jpg" width="200" height="132"/></a>
</div>